#
#	Run the script that ends up logging thermobeacons
#
#	This file needs to be on /etc/systemd/system/
#
[Unit]
Description=spdns update
Wants=spdns.timer

[Service]
Type=oneshot
ExecStart=/home/embed/SecurePointDNSUpdate/spdns.py 

[Install]
WantedBy=multi-user.target

